@model CarInformationManagmentSystem.Models.Entities.Car

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BHP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BHP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transmission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transmission.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirBagDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirBagDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BootSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BootSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model?.Model">Details</a> |
    <a asp-action="Index">Back to List</a>
</div>
