<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@(User.Identity.IsAuthenticated ? Url.Action("Index", "Car") : Url.Action("Index", "Account"))">
                    CISM
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-actions ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Settings">@User.Identity.Name</a>
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="nav-link @(ViewData["Title"] == "Login" ? "active" : "")" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            <a class="nav-link @(ViewData["Title"] == "Sign Up" ? "active" : "")" asp-area="" asp-controller="Account" asp-action="SignUp">Signup</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
